@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?40839747');
  src: url('../font/fontello.eot?40839747#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?40839747') format('woff2'),
       url('../font/fontello.woff?40839747') format('woff'),
       url('../font/fontello.ttf?40839747') format('truetype'),
       url('../font/fontello.svg?40839747#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?40839747#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-align-alt:before { content: '\e800'; } /* '' */
.icon-align-center-alt:before { content: '\e801'; } /* '' */
.icon-align-center-h:before { content: '\e802'; } /* '' */
.icon-align-center-v:before { content: '\e803'; } /* '' */
.icon-angle-double-down:before { content: '\e804'; } /* '' */
.icon-angle-double-left:before { content: '\e805'; } /* '' */
.icon-angle-double-right:before { content: '\e806'; } /* '' */
.icon-angle-double-up:before { content: '\e807'; } /* '' */
.icon-angle-down:before { content: '\e808'; } /* '' */
.icon-angle-left-b:before { content: '\e809'; } /* '' */
.icon-angle-left:before { content: '\e80a'; } /* '' */
.icon-angle-right-b:before { content: '\e80b'; } /* '' */
.icon-angle-right:before { content: '\e80c'; } /* '' */
.icon-angle-up:before { content: '\e80d'; } /* '' */
.icon-angry:before { content: '\e80e'; } /* '' */
.icon-annoyed-alt:before { content: '\e80f'; } /* '' */
.icon-annoyed:before { content: '\e810'; } /* '' */
.icon-apps:before { content: '\e811'; } /* '' */
.icon-archive-alt:before { content: '\e812'; } /* '' */
.icon-archive:before { content: '\e813'; } /* '' */
.icon-arrow-break:before { content: '\e814'; } /* '' */
.icon-arrow-circle-down:before { content: '\e815'; } /* '' */
.icon-arrow-circle-left:before { content: '\e816'; } /* '' */
.icon-arrow-circle-right:before { content: '\e817'; } /* '' */
.icon-arrow-circle-up:before { content: '\e818'; } /* '' */
.icon-arrow-compress-h:before { content: '\e819'; } /* '' */
.icon-arrow-down-left:before { content: '\e81a'; } /* '' */
.icon-arrow-down-right:before { content: '\e81b'; } /* '' */
.icon-arrow-down:before { content: '\e81c'; } /* '' */
.icon-arrow-from-right:before { content: '\e81d'; } /* '' */
.icon-arrow-from-top:before { content: '\e81e'; } /* '' */
.icon-arrow-growth:before { content: '\e81f'; } /* '' */
.icon-arrow-left:before { content: '\e820'; } /* '' */
.icon-arrow-random:before { content: '\e821'; } /* '' */
.icon-arrow-resize-diagonal:before { content: '\e822'; } /* '' */
.icon-arrow-right:before { content: '\e823'; } /* '' */
.icon-arrow-to-bottom:before { content: '\e824'; } /* '' */
.icon-arrow-to-right:before { content: '\e825'; } /* '' */
.icon-arrow-up-left:before { content: '\e826'; } /* '' */
.icon-arrow-up-right:before { content: '\e827'; } /* '' */
.icon-arrow-up:before { content: '\e828'; } /* '' */
.icon-arrow:before { content: '\e829'; } /* '' */
.icon-arrows-h-alt:before { content: '\e82a'; } /* '' */
.icon-arrows-h:before { content: '\e82b'; } /* '' */
.icon-arrows-left-down:before { content: '\e82c'; } /* '' */
.icon-arrows-maximize:before { content: '\e82d'; } /* '' */
.icon-arrows-merge:before { content: '\e82e'; } /* '' */
.icon-arrows-resize-h:before { content: '\e82f'; } /* '' */
.icon-arrows-resize-v:before { content: '\e830'; } /* '' */
.icon-arrows-resize:before { content: '\e831'; } /* '' */
.icon-arrows-right-down:before { content: '\e832'; } /* '' */
.icon-arrows-shrink-h:before { content: '\e833'; } /* '' */
.icon-arrows-shrink-v:before { content: '\e834'; } /* '' */
.icon-arrows-up-right:before { content: '\e835'; } /* '' */
.icon-arrows-v-alt:before { content: '\e836'; } /* '' */
.icon-arrows-v:before { content: '\e837'; } /* '' */
.icon-asterisk:before { content: '\e838'; } /* '' */
.icon-at:before { content: '\e839'; } /* '' */
.icon-award-alt:before { content: '\e83a'; } /* '' */
.icon-award:before { content: '\e83b'; } /* '' */
.icon-backspace:before { content: '\e83c'; } /* '' */
.icon-bag-alt:before { content: '\e83d'; } /* '' */
.icon-ban:before { content: '\e83e'; } /* '' */
.icon-bars:before { content: '\e83f'; } /* '' */
.icon-battery-bolt:before { content: '\e840'; } /* '' */
.icon-battery-empty:before { content: '\e841'; } /* '' */
.icon-bell-slash:before { content: '\e842'; } /* '' */
.icon-bell:before { content: '\e843'; } /* '' */
.icon-bitcoin-alt:before { content: '\e844'; } /* '' */
.icon-bitcoin:before { content: '\e845'; } /* '' */
.icon-bluetooth-b:before { content: '\e846'; } /* '' */
.icon-bolt-alt:before { content: '\e847'; } /* '' */
.icon-bolt-slash:before { content: '\e848'; } /* '' */
.icon-bolt:before { content: '\e849'; } /* '' */
.icon-book-alt:before { content: '\e84a'; } /* '' */
.icon-book-open:before { content: '\e84b'; } /* '' */
.icon-book-reader:before { content: '\e84c'; } /* '' */
.icon-bookmark-full:before { content: '\e84d'; } /* '' */
.icon-bookmark:before { content: '\e84e'; } /* '' */
.icon-books:before { content: '\e84f'; } /* '' */
.icon-box:before { content: '\e850'; } /* '' */
.icon-briefcase-alt:before { content: '\e851'; } /* '' */
.icon-briefcase:before { content: '\e852'; } /* '' */
.icon-building:before { content: '\e853'; } /* '' */
.icon-bus-alt:before { content: '\e854'; } /* '' */
.icon-bus-school:before { content: '\e855'; } /* '' */
.icon-bus:before { content: '\e856'; } /* '' */
.icon-calculator-alt:before { content: '\e857'; } /* '' */
.icon-calculator:before { content: '\e858'; } /* '' */
.icon-calendar-alt:before { content: '\e859'; } /* '' */
.icon-calender:before { content: '\e85a'; } /* '' */
.icon-camera-plus:before { content: '\e85b'; } /* '' */
.icon-camera:before { content: '\e85c'; } /* '' */
.icon-cancel:before { content: '\e85d'; } /* '' */
.icon-car-sideview:before { content: '\e85e'; } /* '' */
.icon-car:before { content: '\e85f'; } /* '' */
.icon-caret-right:before { content: '\e860'; } /* '' */
.icon-celsius:before { content: '\e861'; } /* '' */
.icon-channel-add:before { content: '\e862'; } /* '' */
.icon-channel:before { content: '\e863'; } /* '' */
.icon-chart-bar-alt:before { content: '\e864'; } /* '' */
.icon-chart-bar:before { content: '\e865'; } /* '' */
.icon-chart-down:before { content: '\e866'; } /* '' */
.icon-chart-growth:before { content: '\e867'; } /* '' */
.icon-chart-line:before { content: '\e868'; } /* '' */
.icon-chart-pie-alt:before { content: '\e869'; } /* '' */
.icon-chart-pie:before { content: '\e86a'; } /* '' */
.icon-chart:before { content: '\e86b'; } /* '' */
.icon-chat-bubble-user:before { content: '\e86c'; } /* '' */
.icon-chat:before { content: '\e86d'; } /* '' */
.icon-check:before { content: '\e86e'; } /* '' */
.icon-clipboard-alt:before { content: '\e86f'; } /* '' */
.icon-clipboard-blank:before { content: '\e870'; } /* '' */
.icon-clipboard-notes:before { content: '\e871'; } /* '' */
.icon-clock-eight:before { content: '\e872'; } /* '' */
.icon-clock-nine:before { content: '\e873'; } /* '' */
.icon-clock-three:before { content: '\e874'; } /* '' */
.icon-cloud-bookmark:before { content: '\e875'; } /* '' */
.icon-cloud-check:before { content: '\e876'; } /* '' */
.icon-cloud-data-connection:before { content: '\e877'; } /* '' */
.icon-cloud-heart:before { content: '\e878'; } /* '' */
.icon-cloud-lock:before { content: '\e879'; } /* '' */
.icon-cloud-redo:before { content: '\e87a'; } /* '' */
.icon-cloud-shield:before { content: '\e87b'; } /* '' */
.icon-cloud-times:before { content: '\e87c'; } /* '' */
.icon-cloud-unlock:before { content: '\e87d'; } /* '' */
.icon-cloud-upload:before { content: '\e87e'; } /* '' */
.icon-cloud:before { content: '\e87f'; } /* '' */
.icon-code-branch:before { content: '\e880'; } /* '' */
.icon-cog:before { content: '\e881'; } /* '' */
.icon-comment-add:before { content: '\e882'; } /* '' */
.icon-comment-alt-block:before { content: '\e883'; } /* '' */
.icon-comment-alt-check:before { content: '\e884'; } /* '' */
.icon-comment-alt-dots:before { content: '\e885'; } /* '' */
.icon-comment-alt-heart:before { content: '\e886'; } /* '' */
.icon-comment-alt-lines:before { content: '\e887'; } /* '' */
.icon-comment-alt-lock:before { content: '\e888'; } /* '' */
.icon-comment-alt-message:before { content: '\e889'; } /* '' */
.icon-comment-alt-notes:before { content: '\e88a'; } /* '' */
.icon-comment-alt-plus:before { content: '\e88b'; } /* '' */
.icon-comment-alt-slash:before { content: '\e88c'; } /* '' */
.icon-comment-alt-verify:before { content: '\e88d'; } /* '' */
.icon-comment-dots:before { content: '\e88e'; } /* '' */
.icon-comment-lines:before { content: '\e88f'; } /* '' */
.icon-comments-alt:before { content: '\e890'; } /* '' */
.icon-comparison:before { content: '\e891'; } /* '' */
.icon-compress-alt-left:before { content: '\e892'; } /* '' */
.icon-compress-alt:before { content: '\e893'; } /* '' */
.icon-compress-arrows:before { content: '\e894'; } /* '' */
.icon-compress-lines:before { content: '\e895'; } /* '' */
.icon-heart-1:before { content: '\e896'; } /* '' */
.icon-compress-v:before { content: '\e897'; } /* '' */
.icon-compress:before { content: '\e898'; } /* '' */
.icon-confused:before { content: '\e899'; } /* '' */
.icon-copy-alt:before { content: '\e89a'; } /* '' */
.icon-copy:before { content: '\e89b'; } /* '' */
.icon-copyright:before { content: '\e89c'; } /* '' */
.icon-corner-down-left:before { content: '\e89d'; } /* '' */
.icon-corner-down-right-alt:before { content: '\e89e'; } /* '' */
.icon-corner-up-left-alt:before { content: '\e89f'; } /* '' */
.icon-coronavirus:before { content: '\e8a0'; } /* '' */
.icon-create-dashboard:before { content: '\e8a1'; } /* '' */
.icon-credit-card-search:before { content: '\e8a2'; } /* '' */
.icon-credit-card:before { content: '\e8a3'; } /* '' */
.icon-crop-alt-rotate-left:before { content: '\e8a4'; } /* '' */
.icon-crop-alt-rotate-right:before { content: '\e8a5'; } /* '' */
.icon-crop-alt:before { content: '\e8a6'; } /* '' */
.icon-crosshairs:before { content: '\e8a7'; } /* '' */
.icon-cube:before { content: '\e8a8'; } /* '' */
.icon-database:before { content: '\e8a9'; } /* '' */
.icon-cloud-exclamation:before { content: '\e8aa'; } /* '' */
.icon-cloud-question:before { content: '\e8ab'; } /* '' */
.icon-desktop-alt:before { content: '\e8ac'; } /* '' */
.icon-desktop-cloud-alt:before { content: '\e8ad'; } /* '' */
.icon-desktop:before { content: '\e8ae'; } /* '' */
.icon-diary:before { content: '\e8af'; } /* '' */
.icon-direction:before { content: '\e8b0'; } /* '' */
.icon-dna:before { content: '\e8b1'; } /* '' */
.icon-docker:before { content: '\e8b2'; } /* '' */
.icon-document-layout-left:before { content: '\e8b3'; } /* '' */
.icon-download-alt:before { content: '\e8b4'; } /* '' */
.icon-edit-alt:before { content: '\e8b5'; } /* '' */
.icon-edit:before { content: '\e8b6'; } /* '' */
.icon-ellipsis-h:before { content: '\e8b7'; } /* '' */
.icon-ellipsis-v:before { content: '\e8b8'; } /* '' */
.icon-enter:before { content: '\e8b9'; } /* '' */
.icon-envelope-check:before { content: '\e8ba'; } /* '' */
.icon-envelope-upload:before { content: '\e8bb'; } /* '' */
.icon-envelope:before { content: '\e8bc'; } /* '' */
.icon-estate:before { content: '\e8bd'; } /* '' */
.icon-exchange-alt:before { content: '\e8be'; } /* '' */
.icon-exchange:before { content: '\e8bf'; } /* '' */
.icon-exclamation:before { content: '\e8c0'; } /* '' */
.icon-exit:before { content: '\e8c1'; } /* '' */
.icon-expand-alt:before { content: '\e8c2'; } /* '' */
.icon-expand-arrows-alt:before { content: '\e8c3'; } /* '' */
.icon-expand-arrows:before { content: '\e8c4'; } /* '' */
.icon-expand-from-corner:before { content: '\e8c5'; } /* '' */
.icon-expand-left:before { content: '\e8c6'; } /* '' */
.icon-expand-right:before { content: '\e8c7'; } /* '' */
.icon-export:before { content: '\e8c8'; } /* '' */
.icon-external-link-alt:before { content: '\e8c9'; } /* '' */
.icon-eye-slash:before { content: '\e8ca'; } /* '' */
.icon-eye:before { content: '\e8cb'; } /* '' */
.icon-file-alt:before { content: '\e8cc'; } /* '' */
.icon-file-blank:before { content: '\e8cd'; } /* '' */
.icon-file-block-alt:before { content: '\e8ce'; } /* '' */
.icon-file-bookmark-alt:before { content: '\e8cf'; } /* '' */
.icon-file-check-alt:before { content: '\e8d0'; } /* '' */
.icon-file-check:before { content: '\e8d1'; } /* '' */
.icon-file-download-alt:before { content: '\e8d2'; } /* '' */
.icon-file-download:before { content: '\e8d3'; } /* '' */
.icon-file-edit-alt:before { content: '\e8d4'; } /* '' */
.icon-file-import:before { content: '\e8d5'; } /* '' */
.icon-file-landscape-alt:before { content: '\e8d6'; } /* '' */
.icon-file-landscape:before { content: '\e8d7'; } /* '' */
.icon-file-lock-alt:before { content: '\e8d8'; } /* '' */
.icon-file-network:before { content: '\e8d9'; } /* '' */
.icon-file-plus-alt:before { content: '\e8da'; } /* '' */
.icon-file-upload-alt:before { content: '\e8db'; } /* '' */
.icon-file-upload:before { content: '\e8dc'; } /* '' */
.icon-file:before { content: '\e8dd'; } /* '' */
.icon-filter-slash:before { content: '\e8de'; } /* '' */
.icon-filter:before { content: '\e8df'; } /* '' */
.icon-fire:before { content: '\e8e0'; } /* '' */
.icon-flask-potion:before { content: '\e8e1'; } /* '' */
.icon-flask:before { content: '\e8e2'; } /* '' */
.icon-flower:before { content: '\e8e3'; } /* '' */
.icon-folder-check:before { content: '\e8e4'; } /* '' */
.icon-folder-download:before { content: '\e8e5'; } /* '' */
.icon-folder-exclamation:before { content: '\e8e6'; } /* '' */
.icon-folder-info:before { content: '\e8e7'; } /* '' */
.icon-folder-lock:before { content: '\e8e8'; } /* '' */
.icon-folder-medical:before { content: '\e8e9'; } /* '' */
.icon-folder-minus:before { content: '\e8ea'; } /* '' */
.icon-folder-network:before { content: '\e8eb'; } /* '' */
.icon-folder-open:before { content: '\e8ec'; } /* '' */
.icon-folder-upload:before { content: '\e8ed'; } /* '' */
.icon-folder:before { content: '\e8ee'; } /* '' */
.icon-frown:before { content: '\e8ef'; } /* '' */
.icon-game-structure:before { content: '\e8f0'; } /* '' */
.icon-gift:before { content: '\e8f1'; } /* '' */
.icon-github:before { content: '\e8f2'; } /* '' */
.icon-gitlab:before { content: '\e8f3'; } /* '' */
.icon-globe:before { content: '\e8f4'; } /* '' */
.icon-graduation-cap:before { content: '\e8f5'; } /* '' */
.icon-graph-bar:before { content: '\e8f6'; } /* '' */
.icon-hdd:before { content: '\e8f7'; } /* '' */
.icon-heart-alt:before { content: '\e8f8'; } /* '' */
.icon-heart-break:before { content: '\e8f9'; } /* '' */
.icon-heart-rate:before { content: '\e8fa'; } /* '' */
.icon-heart:before { content: '\e8fb'; } /* '' */
.icon-history-alt:before { content: '\e8fc'; } /* '' */
.icon-history:before { content: '\e8fd'; } /* '' */
.icon-home-alt:before { content: '\e8fe'; } /* '' */
.icon-icons:before { content: '\e8ff'; } /* '' */
.icon-image-alt-slash:before { content: '\e900'; } /* '' */
.icon-image-plus:before { content: '\e901'; } /* '' */
.icon-image:before { content: '\e902'; } /* '' */
.icon-incoming-call:before { content: '\e903'; } /* '' */
.icon-info:before { content: '\e904'; } /* '' */
.icon-invoice:before { content: '\e905'; } /* '' */
.icon-key-skeleton-alt:before { content: '\e906'; } /* '' */
.icon-atom:before { content: '\e907'; } /* '' */
.icon-label-alt:before { content: '\e908'; } /* '' */
.icon-label:before { content: '\e909'; } /* '' */
.icon-laptop-cloud:before { content: '\e90a'; } /* '' */
.icon-layer-group-slash:before { content: '\e90b'; } /* '' */
.icon-layer-group:before { content: '\e90c'; } /* '' */
.icon-layers-alt:before { content: '\e90d'; } /* '' */
.icon-layers-slash:before { content: '\e90e'; } /* '' */
.icon-layers:before { content: '\e90f'; } /* '' */
.icon-left-arrow-from-left:before { content: '\e910'; } /* '' */
.icon-left-arrow-to-left:before { content: '\e911'; } /* '' */
.icon-letter-english-a:before { content: '\e912'; } /* '' */
.icon-lightbulb-alt:before { content: '\e913'; } /* '' */
.icon-link-h:before { content: '\e914'; } /* '' */
.icon-link:before { content: '\e915'; } /* '' */
.icon-location-arrow-alt:before { content: '\e916'; } /* '' */
.icon-location-arrow:before { content: '\e917'; } /* '' */
.icon-location-pin-alt:before { content: '\e918'; } /* '' */
.icon-location-point:before { content: '\e919'; } /* '' */
.icon-lock-alt:before { content: '\e91a'; } /* '' */
.icon-lock-open-alt:before { content: '\e91b'; } /* '' */
.icon-map-marker-alt:before { content: '\e91c'; } /* '' */
.icon-map-marker:before { content: '\e91d'; } /* '' */
.icon-map-pin-alt:before { content: '\e91e'; } /* '' */
.icon-map-pin:before { content: '\e91f'; } /* '' */
.icon-map:before { content: '\e920'; } /* '' */
.icon-maximize-left:before { content: '\e921'; } /* '' */
.icon-medal:before { content: '\e922'; } /* '' */
.icon-meeting-board:before { content: '\e923'; } /* '' */
.icon-megaphone:before { content: '\e924'; } /* '' */
.icon-microphone-slash:before { content: '\e925'; } /* '' */
.icon-microphone:before { content: '\e926'; } /* '' */
.icon-minus:before { content: '\e927'; } /* '' */
.icon-money-bill:before { content: '\e928'; } /* '' */
.icon-money-stack:before { content: '\e929'; } /* '' */
.icon-mouse-alt:before { content: '\e92a'; } /* '' */
.icon-multiply:before { content: '\e92b'; } /* '' */
.icon-newspaper:before { content: '\e92c'; } /* '' */
.icon-notebooks:before { content: '\e92d'; } /* '' */
.icon-package:before { content: '\e92e'; } /* '' */
.icon-panel-add:before { content: '\e92f'; } /* '' */
.icon-paragraph:before { content: '\e930'; } /* '' */
.icon-parcel:before { content: '\e931'; } /* '' */
.icon-pen:before { content: '\e932'; } /* '' */
.icon-phone:before { content: '\e933'; } /* '' */
.icon-play:before { content: '\e934'; } /* '' */
.icon-plus:before { content: '\e935'; } /* '' */
.icon-presentation-line:before { content: '\e936'; } /* '' */
.icon-presentation:before { content: '\e937'; } /* '' */
.icon-print-slash:before { content: '\e938'; } /* '' */
.icon-print:before { content: '\e939'; } /* '' */
.icon-process:before { content: '\e93a'; } /* '' */
.icon-processor:before { content: '\e93b'; } /* '' */
.icon-puzzle-piece:before { content: '\e93c'; } /* '' */
.icon-redo:before { content: '\e93d'; } /* '' */
.icon-refresh:before { content: '\e93e'; } /* '' */
.icon-repeat:before { content: '\e93f'; } /* '' */
.icon-rocket:before { content: '\e940'; } /* '' */
.icon-rotate-360:before { content: '\e941'; } /* '' */
.icon-scroll-h:before { content: '\e942'; } /* '' */
.icon-scroll:before { content: '\e943'; } /* '' */
.icon-search:before { content: '\e944'; } /* '' */
.icon-server-alt:before { content: '\e945'; } /* '' */
.icon-server-connection:before { content: '\e946'; } /* '' */
.icon-setting:before { content: '\e947'; } /* '' */
.icon-share-alt:before { content: '\e948'; } /* '' */
.icon-share:before { content: '\e949'; } /* '' */
.icon-shield-check:before { content: '\e94a'; } /* '' */
.icon-shield:before { content: '\e94b'; } /* '' */
.icon-shopping-bag:before { content: '\e94c'; } /* '' */
.icon-shopping-basket:before { content: '\e94d'; } /* '' */
.icon-shrink:before { content: '\e94e'; } /* '' */
.icon-sigma:before { content: '\e94f'; } /* '' */
.icon-sign-alt:before { content: '\e950'; } /* '' */
.icon-sign-in-alt:before { content: '\e951'; } /* '' */
.icon-sign-left:before { content: '\e952'; } /* '' */
.icon-sign-out-alt:before { content: '\e953'; } /* '' */
.icon-sign-right:before { content: '\e954'; } /* '' */
.icon-signal-alt-3:before { content: '\e955'; } /* '' */
.icon-signal-alt:before { content: '\e956'; } /* '' */
.icon-signin:before { content: '\e957'; } /* '' */
.icon-signout:before { content: '\e958'; } /* '' */
.icon-sitemap:before { content: '\e959'; } /* '' */
.icon-sliders-v-alt:before { content: '\e95a'; } /* '' */
.icon-sliders-v:before { content: '\e95b'; } /* '' */
.icon-sort:before { content: '\e95c'; } /* '' */
.icon-sorting:before { content: '\e95d'; } /* '' */
.icon-space-key:before { content: '\e95e'; } /* '' */
.icon-star:before { content: '\e95f'; } /* '' */
.icon-step-forward:before { content: '\e960'; } /* '' */
.icon-suitcase:before { content: '\e961'; } /* '' */
.icon-sync:before { content: '\e962'; } /* '' */
.icon-temperature-half:before { content: '\e963'; } /* '' */
.icon-times:before { content: '\e964'; } /* '' */
.icon-top-arrow-from-top:before { content: '\e965'; } /* '' */
.icon-top-arrow-to-top:before { content: '\e966'; } /* '' */
.icon-traffic-barrier:before { content: '\e967'; } /* '' */
.icon-traffic-light:before { content: '\e968'; } /* '' */
.icon-trash-alt:before { content: '\e969'; } /* '' */
.icon-trash:before { content: '\e96a'; } /* '' */
.icon-trees:before { content: '\e96b'; } /* '' */
.icon-trophy:before { content: '\e96c'; } /* '' */
.icon-tv-retro:before { content: '\e96d'; } /* '' */
.icon-unlock-alt:before { content: '\e96e'; } /* '' */
.icon-unlock:before { content: '\e96f'; } /* '' */
.icon-upload-alt:before { content: '\e970'; } /* '' */
.icon-upload:before { content: '\e971'; } /* '' */
.icon-user-check:before { content: '\e972'; } /* '' */
.icon-user-circle:before { content: '\e973'; } /* '' */
.icon-user-exclamation:before { content: '\e974'; } /* '' */
.icon-user:before { content: '\e975'; } /* '' */
.icon-users-alt:before { content: '\e976'; } /* '' */
.icon-vector-square:before { content: '\e977'; } /* '' */
.icon-video:before { content: '\e978'; } /* '' */
.icon-volume:before { content: '\e979'; } /* '' */
.icon-wallet:before { content: '\e97a'; } /* '' */
.icon-wheelchair:before { content: '\e97b'; } /* '' */
.icon-heart-empty:before { content: '\e97c'; } /* '' */
.icon-mir:before { content: '\e97d'; } /* '' */
.icon-telegram:before { content: '\e97e'; } /* '' */
.icon-star-1:before { content: '\e97f'; } /* '' */
.icon-star-empty:before { content: '\e980'; } /* '' */
.icon-yandex:before { content: '\e981'; } /* '' */
.icon-rutube:before { content: '\ebfb'; } /* '' */
.icon-zoom:before { content: '\ebfc'; } /* '' */
.icon-growth-graph:before { content: '\ec12'; } /* '' */
.icon-yappy:before { content: '\edec'; } /* '' */
.icon-dzen:before { content: '\eded'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-wikipedia-w:before { content: '\f266'; } /* '' */
